
.icon-lock:before { content: '\e800'; } /* '' */
.icon-bar:before { content: '\e804'; } /* '' */
.icon-fast-food:before { content: '\e815'; } /* '' */
.icon-pharmacy:before { content: '\e829'; } /* '' */
.icon-user-male:before { content: '\f062'; } /* '' */